<!--<p>change-password works!</p>

<h2></h2>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




<div class="Form">
  <form>
    <div class="form-group">
      <div style="padding: 10px;"><input [(ngModel)]="username" class="form-control" name="login" placeholder="Username"></div>
      <div style="padding: 10px;"><input [(ngModel)]="oldPassword" type="password" class="form-control" placeholder="Old Password"></div>
      <div style="padding: 10px;"><input [(ngModel)]="newPassword" type="password" class="form-control" placeholder="New Password"></div>
      <div style="padding: 10px;"><input type="submit" (click)="ChangePassword()" class="btn btn-primary" value="Send"></div>
    </div>
  </form>

</div>-->

<br />
<h2>Change password</h2>
<hr />
<div class="wrapper">
  <div class="row">
    <div >
      <div class="form-group">
        <input  [(ngModel)]="username" class="form-control" placeholder="Username" />
      </div>
    </div>
  </div>
  <div class="row">
    <div >
      <div class="form-group">
        <input  type="password" [(ngModel)]="oldPassword" class="form-control"  placeholder="Old Password"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div >
      <div class="form-group">
        <input type="password" [(ngModel)]="newPassword" class="form-control"placeholder="New Password" />
      </div>
    </div>
  </div>
  <div>
    <button class="btn-primary" (click)="ChangePassword()" >
      Send
    </button>
  </div>

</div>


