<!--<h2>Forget username or password ?</h2>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!-- Login Form -->
<!--<div class="wrapper">
  <div class="Form">
    <form>
      <div class="form-group">
        <div style="padding: 10px;"><input type="email" id="login" class="form-control" name="login" placeholder="Enter your email"></div>
        <div style="padding: 10px;"><input type="email" id="password" name="login" class="form-control" placeholder="Confirm your email"></div>
        <div style="padding: 10px;"><input type="submit" class="btn btn-primary" value="Send"></div>
      </div>
    </form>

  </div>
</div>-->

<br />
<h2>Reset password</h2>
<hr />
<div class="wrapper">
  <div class="row">
    <div>
      <div class="form-group">
        <input [(ngModel)]="email" class="form-control" placeholder="Email" />
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <div class="form-group">
        <input [(ngModel)]="confirmEmail" class="form-control" placeholder="Confirm Email" />
      </div>
    </div>
  </div>
  <div>
    <button class="btn-primary" (click)="ResetPassword()">
      Send
    </button>
  </div>

</div>
